<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--11-col"><h1>How about these gems?</h1></div>
</div>


<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--8-col">
    <h2>
      Gems (Ruby/Rails)
    </h2>
    <ul class="demo-list-item mdl-list">
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <%= link_to "Devise", "https://rubygems.org/gems/devise" %>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <%= link_to "RSpec", "https://rubygems.org/gems/rspec" %>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <%= link_to "Byebug", "https://rubygems.org/gems/byebug/versions/9.0.5" %>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <%= link_to "Factory Girl", "https://github.com/thoughtbot/factory_girl_rails" %>&nbsp;- Similar to Faker in that it generates the fake data you need to test out your Rails app.
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <%= link_to "Geocoder", "http://www.rubygeocoder.com/" %>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Et bien sur &nbsp; <%= link_to "Bundler", "https://rubygems.org/gems/rspec" %>, &nbsp; <%= link_to "Rake", "https://github.com/ruby/rake" %>,&nbsp;et&nbsp;<%= link_to "jQuery-Rails", "https://github.com/rails/jquery-rails" %>
        </span>
      </li>
    </ul>
  </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
</div>

<!-- Simple list -->
<!-- <style>
.demo-list-item {
  width: 300px;
}
</style> -->
